.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    top: 50% -500px;
    left: 10% !important;
    width: 30vw !important;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex !important;
    justify-content: center !important;
    text-align: center;
}

.modal-buttons {
    padding: 0;
    
}

.modal-buttons button {
    margin-top: 10px;
    margin: 8px;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
}

.modal-buttons button:hover {
    background-color: #0056b3;
}